html{
    overflow-x: hidden;
}

#logo-nav{
    height: 65px;
    width: auto;
}

.material-icons-lg{
    font-size: 46px !important;
}

.material-icons-md{
    font-size: 28px !important;
}

.nav-link{
    color: #3db1c8 !important;
}

.btn{
    border-radius: 0% !important;
}

.btn-custom{
    color: #212529 !important;
    background-color: #3db1c8 !important;
}

.btn-custom:hover{
    color: #212529 !important;
    background-color: #39a4b9 !important;
}

.text-custom{
    color: #3db1c8 !important
}

.coluna-page{
    position: fixed!important;
}

th{
    padding: 0% !important;
    font-weight: normal !important;
    text-align: center !important;
    border: solid #212529 0.3px;
}

td{
    padding: 0% !important;
    text-align: center !important;
    border: solid #212529 0.3px;
}

.option-book{
    cursor:pointer;
}
.option-book:hover{
    filter: brightness(92%);
}

.border-start-0{
    border-left: 0% !important;
}